.inner{
    margin: 10px 0;
}
.text a{
    color: #000;
}
.text{
    padding:0 10px
}
#content img{
    width: 100%;
}
#content{
    display: flex;
    flex-wrap: wrap;
}
.paging{
    margin: 0 auto;
    width: 200px;
    text-align: center;
}
.action{
    color: red;
}